<title>distance calculator</title>
<div style="text-align: center;">
    <h1>Input addresses to calculate distance between them</h1>
    <!-- <img src="{{map}}" alt="A description of the image" class="center"><br> -->
    <img src="static/img/map.png" alt="A description of the image" class="center" width="15%" height="15%"><br>
    <form action="/" method="post">
      
      <label for="input1">address1:</label><br>
      <input type="text" id="input1" name="input1"><br>
      <label for="input2">address1:</label><br>
      <input type="text" id="input2" name="input2"><br><br>
      <input type="submit" value="Calculate">
    </form>
    </script>
    <script src="static/js/index.js"></script> 
  </div>
  